<div class="body-body">
  <mat-card class="homePage-card">
    <mat-card-content class="homePage-card-content">
      <img class="img-logo" [src]="_url_logo" alt="Photo of a Shiba Inu">
      <p>
        Hogwarts es un colegio para brujas y magos al que se accede tras recibir una invitación que entrega un búho. Hay ciento cuarenta y dos escaleras que se mueven como si tuvieran vida propia. Sus fundadores fueron Godric Gryffindor, Rowena Ravenclaw, Helga Hufflepuff y Salazar Slytherin, en cuyo honor se pusieron nombre a las diferentes casas.
      </p>
    </mat-card-content>
  </mat-card>
</div>
